
:root {
  /* Core colours */
  /* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
  --colour-amaranth: #e63946;
  --colour-peppermint: #f1faee;
  --colour-aquaisland: #a8dadc;
  --colour-wedgewood: #457b9d;
  --colour-cello: #1d3557;

  /* Header configuration */
  --header-heading-colour: var(--colour-peppermint);

  /* Body configuration */
  --body-default-colour: var(--colour-cello);
  --body-background-colour: var(--colour-peppermint);
}

/*
  PAGE / BODY
*/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--body-default-colour);
  background-color: var(--body-background-colour);
}

main {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 

}

header{
  display: flex;
  justify-content: center;
  align-items: center;

  color: #f1faee;
  background-color: #375b8e;
  border-bottom: solid;
}

footer{
  display: flex;
  justify-content: end;
  align-items: center;
}

.complete-form{
  border: solid;
  border-radius: 5px;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  padding: 1rem;
}


/*TEXT ELEMENTS*/
h1{
  font-size: 2rem;
margin: 2rem;
text-decoration: underline;
}

h2{
font-size: 5.5rem;
}

h3{
font-size: 0.9rem;
}

p{
margin-bottom: 50px;
font-size: 1.2rem;
}

ul {
  list-style-type: none;
}

li{
  margin-bottom: 10px;

  display: grid;
  grid-template-columns: auto 1.5fr auto auto auto;
  align-items: center;
  gap: 10px;
}

li span {
  margin-right: 50px;
  text-align: left;
  font-size: 1.5rem;
}


/*BUTTONS & BOXES*/
input[type="checkbox"] {
  transform: scale(2.5);
  margin-right: 50px;
}

button {
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  padding: 15px 15px;


  background-color: #375b8e;
  color: white; 

  cursor: pointer;
  transition: background-color 0.5s;
}

button img {
  max-width: 100%;
  height: auto;
  width: 25px;
}

button:hover {
  background-color: #a8dadc;
}
















/****** Screen reader text utility clsas *******/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}